body{
    margin: 0;
    background-color: black;
    color: silver;
}

.bg-img{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1542317803-0fc679478393?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGFsZXN0aW5lfGVufDB8fDB8fHww);
    background-attachment:fixed ;
    background-position: center;
    background-size:140%;   
}

.container{
    padding: 100px;
}
h1{
    text-align: center;  
    font-size: 50px ;
}

@media (max-width:500px) {
    .container{
        padding: 10px;
    }
}