
body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: blanchedalmond;
}
.form{
    background-color: rgb(0, 0, 0);
    color: silver;
    padding: 10px;
    align-items: center;
}
#inp{
    width: 100%;
    box-sizing: border-box ;
    text-align: center;
}
.form .btn {
    margin-top: 10px;
    width: 100%;  
}
.score{
   display: flex;
   justify-content: flex-end;
   margin-top: 5px;
}

