body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}
#container{
    background-image: url(https://images.unsplash.com/photo-1619410283995-43d9134e7656?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    box-shadow: 0 4px 8px  rgb(0, 0,0 ,06);
}
#container h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
#text{
    margin:  50px 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px  rgb(0, 0,0 ,.5);
}
#navbar ul{
    display: flex;
    list-style-type: none;
}
#navbar ul a{
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-family: cursive;
}
#navbar ul a:hover{
    color: rgb(255, 0, 0);
}
#navbar.active{
    background-color: aqua;
}
#navbar.active ul a{
    color: aliceblue;
}